<div style="background-color: blue; padding: 20px;">
    <div data-sly-use.obj="sushma.adobe.aem.guides.core.models.FooterSlingModel">
        <div style="float: left; width: 30%; border-right: 1px solid #ccc; padding-right: 20px;">
            <p>Title1: ${obj.title1}</p>
            <p>Title2: ${obj.title2}</p>
            <p>Title3: ${obj.title3}</p>
            <p>Description: ${obj.description}</p>
        </div>

        <!-- Quick Links Column -->
        <div style="float: left; width: 30%; border-right: 1px solid #ccc; padding: 0 20px;">
            <h2>Quick Links</h2>
            <div data-sly-list.item="${obj.quicklinks}">
                <div>
                    <p>Text: ${item.text}</p>
                    <p>NavigationLink: <a href="${item.navigationlink}">${item.navigationlink}</a></p>
                </div>
            </div>
        </div>

        <!-- Social Links Column -->
        <div style="float: left; width: 30%; padding-left: 20px;">
            <h2>Social Links</h2>
            <div data-sly-list.item2="${obj.sociallinks}">
                <div>
                    <p>Icon: ${item2.icon}</p>
                    <p>NavigationPath: ${item2.navigationpath}</p>
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>
    </div>
</div>
